---
layout: default
---

<div class="ui container" style="padding-top: 2rem; padding-bottom: 2rem;">

  <div class="ui stackable one column grid">

    {%- for post in site.posts -%}
    <div class="column">
      <div class="ui raised card fluid">

        <div class="content">
          <a class="header" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>

          <div class="meta">
            <span class="date">
              {{ post.date | date: "%b %-d, %Y" }}
            </span>
          </div>

          {%- if site.show_excerpts -%}
          <div class="description" style="margin-top: .5rem;">
            {{ post.excerpt }}
          </div>
          {%- endif -%}

          {%- if post.tags and post.tags.size > 0 -%}
          <div class="meta" style="margin-top: .75rem;">
            {%- for tag in post.tags -%}
            <span class="ui tiny label">{{ tag }}</span>
            {%- endfor -%}
          </div>
          {%- else -%}
          <div class="meta" style="margin-top: .75rem;">
            <span class="ui grey tiny label">
              <i class="info circle icon"></i> Tag Kosong
            </span>
          </div>
          {%- endif -%}

        </div>

        <div class="extra content">
          <span>
            {{ post.content | strip_html | truncatewords: 50 }}
          </span>
        </div>

      </div>
    </div>
    {%- endfor -%}

  </div>

</div>
