---
layout: default
---

<div class="ui container" style="margin-top: 3em; margin-bottom: 3em;">

  <div class="ui raised card fluid">
    <div class="content">

      <!-- Judul -->
      <h1 class="ui header" style="margin-bottom: 0.5em;">
        {{ page.title | escape }}
      </h1>

      <!-- Tanggal -->
      <div class="meta" style="margin-bottom: 1em;">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="date">
          <i class="calendar icon"></i>
          {{ page.date | date: date_format }}
        </span>
      </div>

      <!-- Tags -->
      {%- if page.tags and page.tags.size > 0 -%}
      <div class="meta" style="margin-bottom: 1em;">
        <span style="margin-right: 0.5em;"><strong>Tags:</strong></span>
        {%- for tag in page.tags -%}
          <span class="ui label">{{ tag }}</span>
        {%- endfor -%}
      </div>
      {%- endif -%}

      <!-- Isi Konten -->
      <div style="font-size: 1.15em; line-height: 1.7;">
        {{ content }}
      </div>

    </div>

    <div class="extra content">
      <a href="{{ '/blog/' | relative_url }}" class="ui basic button">
        <i class="arrow left icon"></i> Kembali
      </a>
    </div>

  </div>
</div>
